.title-title{
    padding-top: 20px;
    padding-left: 30px;
    height : 145px;
    display: flexbox;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px black;
}

.attendance-form{
    margin-left : 41%;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    width: 320px;
    border: 1px solid black;
}

.table-box{
    margin-left: 320px;
    background-color: rgb(239, 235, 235);
    width:890px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    overflow: scroll;
    margin-top : 20px;
    height: 250px;
    border : 2px black solid
}

.div::-webkit-scrollbar{
    display : none;
}

th,td{
    border: 2px solid black;
    width : 300px;
    background-color: white;
}